spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
  session:
    jdbc:
      initialize-schema: always

server:
  servlet:
    session:
      cookie:
        secure: false
