spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/chacall?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: myuser
    password: 123
  session:
    jdbc:
      initialize-schema: always

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        highlight_sql: true
    show-sql: true

server:
  servlet:
    session:
      cookie:
        http-only: true
        secure: true

